// start .sProfile
.sProfile {
	--sPT: #{rem(17)};
	--sPB: #{rem(17)};
	// --sTPB: #{rem(42)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(58)};
		--sPB: #{rem(22)};
		// --sTPB: #{rem(56)};
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	&__personal-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		margin-bottom: rem(49);
		@include media-breakpoint-up(lg) {
			padding-left: rem(330);
			min-height: rem(246);
			margin-bottom: rem(81.2);
		}
		h2 {
			margin-bottom: rem(32);
			font-size: rem(40);
			line-height: 1.21;
			letter-spacing: -0.02em;
			@include media-breakpoint-up(lg) {
				margin-bottom: auto;
				font-size: rem(60);
			}
		}
		p {
			font-size: rem(16);
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
				line-height: 1.21;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__img-wrap {
		@include block(1, 1);
		width: 100%;
		max-width: rem(230);
		overflow: hidden;
		border-radius: rem(20);
		background-color: $accent;
		margin-bottom: rem(34);
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
	&__edit {
		position: absolute;
		top: rem(15);
		right: rem(15);
		z-index: 10;
	}
	.tabs {
		&__caption {
			display: flex;
			gap: rem(20);
			justify-content: space-between;
			margin-bottom: rem(34);
			@include media-breakpoint-up(md) {
				justify-content: flex-start;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(59);
				gap: rem(102);
			}
		}
		&__btn {
			@include mt;
			font-size: rem(20);
			line-height: 1.21;
			color: rgba($color: $gray-900, $alpha: 0.5);
			padding-bottom: rem(10);
			border-bottom: 1px solid transparent;
			@include media-breakpoint-up(lg) {
				font-size: rem(40);
				padding-bottom: rem(13);
			}
			&.active,
			&:hover {
				border-bottom-color: $gray-900;
				color: $gray-900;
			}
		}
	}
	&__table {
		table {
			border-top: 1px solid $gray-900;
			width: 100%;
			tr {
				border-bottom: 1px solid $gray-900;
			}
			td {
				padding: rem(19) 0;
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					a {
						display: flex;
						align-items: center;
						color: $accent;
						&:hover {
							color: $gray-900;
						}
						.icon {
							font-size: rem(17);
							flex: 0 0 auto;
							@include media-breakpoint-up(md) {
								margin-right: rem(25);
							}
						}
					}
				}
			}
		}
	}
	&__table-lessons {
		table {
			width: 100%;
			border-top: 1px solid $gray-900;
			tr {
				border-bottom: 1px solid $gray-900;
				@include media-breakpoint-down(lg) {
					display: flex;
					flex-wrap: wrap;
				}
				th {
					padding: rem(15) 0;
					line-height: 1.21;
					&:nth-child(2) {
						width: 13.5%;
					}
					&:nth-child(3) {
						width: 20%;
					}
					&:nth-child(4) {
						width: 13.1%;
					}
				}
				td {
					padding: rem(10) 0;
					line-height: 1.21;
					@include media-breakpoint-down(lg) {
						width: 100%;
						&:not(:last-child) {
							border-bottom: 1px solid $gray-900;
						}
						&:nth-child(3),
						&:nth-child(2) {
							display: flex;
							align-items: center;
							span {
								flex-grow: 1;
							}
							.num {
								flex-grow: 1;
							}
						}
					}
					@include media-breakpoint-up(lg) {
						padding: rem(22.94) 0;
					}
					.status {
						display: flex;
						align-items: center;
						.icon {
							margin-right: rem(10);
							flex: 0 0 auto;
							font-size: rem(10);
							fill: none;
							stroke: currentColor;
							stroke-width: 2px;
						}
					}
					.left {
						display: flex;
						align-items: center;
						color: $accent;
						&:hover {
							color: $gray-900;
						}
						.icon {
							margin-right: rem(10);
							flex: 0 0 auto;
							font-size: rem(14);
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProfile
