
mixin modal() 
	//  start modals
	div(id="modal-auth"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3 Авторизация
					p.after-headline Мы рады снова видеть вас на нашем сайте. Чтобы продолжить использование сервиса, пожалуйста, авторизуйтесь

				+input("Логин / E-mail")(required)
				+input("Пароль",'password')(required)
				+e.BUTTON.btn.btn.btn-accent(type="submit") Войти
				+e.text Забыли пароль? 
					a(href="#") Сбросить пароль
	// #modal-call
	
	div(id="modal-reg"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3 Регистрация
					p.after-headline Чтобы начать использовать все возможности сервиса, пожалуйста, зарегистрируйтесь, заполнив простую форму

				+input("Фамилия")(required)
				+input("Имя")(required)
				+input("Отчество")(required)
				+input("E-mail", 'email')(required)
				+input("Пароль", 'password')(required)
				+input("Подтверждение пароля",'password')(required)
				+e.BUTTON.btn.btn.btn-accent(type="submit") Зарегестрироваться
				+e.text Уже есть аккаунт? 
					a(href="#") Вход в личный кабинет
	// #modal-call

	
	// end modals