// start .sLessons
.sLessons {
	--sPT: #{rem(17.5)};
	--sPB: #{rem(17)};
	--sTPB: #{rem(36)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(27.5)};
		--sPB: #{rem(31)};
		--sTPB: #{rem(55)};
	}
	&__row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(9)};
	}
	.section-title {
		h3 {
			line-height: 1.21;
			margin-bottom: 0;
		}
	}
	&__col {
	}
	.item {
		min-height: rem(368);
		@include media-breakpoint-up(lg) {
			min-height: rem(598);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sLessons
