mixin sLessons(title)
	// start sLessons
	+b.SECTION.sLessons.section#sLessons&attributes(attributes)
		.container
			if title
				+b.section-title
					h3 Доступные уроки
			+e.row.row
				block
	// end sLessons 