mixin sExercideHead(data)
	// start sExercideHead
	+b.SECTION.sExercideHead.section#sExercideHead&attributes(attributes)
		.container
			+e.row.row
				.col-md-auto
					a.btn.btn-accent(href="#")
						+icon('check')
						| Сохранить
				.col-md-auto
					a.btn.btn-outline-dark(href="#")
						+icon('arrow-left')
						| Предыдущее задание
				.col-md-auto
					a.btn.btn-outline-dark(href="#")
						| Следующее задание
						+icon('arrow-right')
			+e.content
				h3 Урок 1.1
				p Дорогие друзья! Мы начинаем изучать русский язык, для этого нам важно понять систему языка, как она работает.<br/>亲爱的朋友们！ 我们开始学习俄语，这对我们很重要 了解语言系统及其工作原理
				.line
				ul
					li 
						| Алфавит, графика, буквы. 字母，图形，字母
						ul
							li Фонетика (звуки). 语音学（声音） Гласные 元音 (а, о, у, э, ы, и) и согласные 辅音 (л, м, н, б, п, в, ф, т, д) твёрдые и мягкие, звонкие и глухие, оглушение звонких в конце слова и перед глухими согласными, редукция гласных 硬和软，浊和聋，在一个词的结尾和聋辅音之前的浊震耳欲聋，元音减少 [а] и [о].
					li Интонационные конструкции (вопрос - ответ) 语调结构（问题和答案）ИК-1, ИК-3.
					li Грамматика. Личные местоимения 1 лица ед. и мн. числа 语法。 1人单位和许多数字的人称代词 (я, мы), 3 лица мн. и ед. числа 3复数和单数人 (он, она, они); указательные конструкции со словом 带有单词的指示性结构 ЭТО.
					li Контрольная работа (чтение, письмо, аудирование, небольшой диалог). 测试工作（阅读，写作，听力，小对话）。
				.line
				p Начнём с фонетики. В наших языках, русском и китайском, есть звуки, которые похожи. А ещё в русском языке есть звуки, которых нет в китайском языке.
				p Всего в русском языке 33 буквы, 21 согласная и 10 гласных, два знака, которые не произносятся, это твёрдый и мягкий знаки - ъ и ь.<br/>让我们从语音学开始。 在我们的语言，俄语和中文，也有类似的声音。 还有俄语中的声音不是中文的。 总的来说，俄语中有33个字母，21个辅音和10个元音，两个符号<br/>没有发音，这些是硬和软的标志-Ъ和Ь
				p Гласные буквы 元音字母 а, э, о, у, ы, и произносятся как один звук 它们发音为一个声音: [а], [э], [о], [у], [ы], [и].<br/>А гласные буквы 元音字母 е, ё, ю, я произносятся как два звука 它们发音为两个声音: [йэ], [йо], [йу], [йа].<br/>Согласные обычно читаются как один звук. 辅音通常被读为一个声音。
			+e.additional-content
				h3 Русский алфавит 俄文字母表
				+e.conditional-row.row
					.col-md-auto: +conditionalItem(1, 'Слушайте')
					.col-md-auto: +conditionalItem(2, 'Повторяйте')
					.col-md-auto: +conditionalItem(3, 'Читайте')
				.text Познакомимся с русским алфавитом. Слушайте, повторяйте, читайте. 让我们熟悉俄语字母。 听，重复，读。
				audio(controls)
					source(src="audio/audio-example.ogg" type="audio/ogg")
					source(src="audio/audio-example.mp3" type="audio/mpeg")
					| Your browser does not support the audio element.
				+img('img/alphabet.png').res-i
	// end sExercideHead