mixin sConditionals(data)
	// start sConditionals
	+b.SECTION.sConditionals.section#sConditionals&attributes(attributes)
		.container
			+b.section-title
				h3 Условные обозначения заданий
				
			+e.row.row
				.col-md-auto: +conditionalItem(1, 'Слушайте')
				.col-md-auto: +conditionalItem(2, 'Повторяйте')
				.col-md-auto: +conditionalItem(3, 'Читайте')
				.col-md-auto: +conditionalItem(4, 'Пишите')
				.col-md-auto: +conditionalItem(5, 'Покажите')
				.col-md-auto: +conditionalItem(6, 'Отвечайте')
				.col-md-auto: +conditionalItem(7, 'Смотрите')
				.col-md-auto: +conditionalItem(8, 'Выучите')
				.col-md-auto: +conditionalItem(9, 'Пойте')
				.col-md-auto: +conditionalItem(10, 'Спросите')
				.col-md-auto: +conditionalItem(11, 'Говорите')
				.col-md-auto: +conditionalItem(12, 'Домашнее задание')
	// end sConditionals