extends ../layout/main.pug

include ../blocks/footer/_footer.pug
include ../blocks/modal/_modal.pug

include ../blocks/headerBlock/_headerBlock.pug
 
include ../blocks/sCompanion/_sCompanion.pug
include ../blocks/sLessons/_sLessons.pug
include ../blocks/sConditionals/_sConditionals.pug
include ../blocks/sReview/_sReview.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Доступные уроки', 'Здесь вы найдете широкий выбор уроков по различным темам и навыкам, которые помогут вам расширить свои знания и улучшить свои способности. Выберите интересующую вас категорию и начните изучать материал прямо сейчас. ', true).--lg
		+sLessons()
			.col-md-6.col-lg-4: +item('sLessons-img-1.jpg', 'Музыкальный язык: от звука к аккорду', 'Знакомство с историей и структурой русского языка, основные понятия и термины.', '45-50 минут', 'Завершено')
			.col-md-6.col-lg-4: +item('sLessons-img-2.jpg', 'Фонетика<br/>и орфоэпия', 'Изучение звуков русского языка,<br/>правила их произношения и транскрипция.', '45 минут', 'Завершено')
			.col-md-6.col-lg-4: +item('sLessons-img-3.jpg', 'Графика<br/>и орфография', 'Основы графики, изучение букв<br/>и правил их написания.', '45 минут', 'Осталось 5 заданий')
			.col-md-6.col-lg-4: +item('sLessons-img-4.jpg', 'Морфология:<br/>Имя существительное', 'Классификация существительных, склонение и падежи.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-5.jpg', 'Морфология:<br/>Имя прилагательное', 'Изучение прилагательных, их степени сравнения и склонение.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-6.jpg', 'Морфология:<br/>Имя числительное', 'Типы числительных, правила их использования и склонения.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-7.jpg', 'Морфология: Местоимение', 'Различные типы местоимений,<br/>их функции и склонение.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-8.jpg', 'Морфология:<br/>Глагол', 'Глаголы, их виды, времена<br/>и наклонения.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-9.jpg', 'Морфология:<br/>Наречие', 'Наречия, их классификация<br/>и степени сравнения.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-10.jpg', 'Синтаксис:<br/>Простое предложение', 'Структура простого предложения,<br/>члены предложения и их функции.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-11.jpg', 'Синтаксис:<br/>Сложное предложение', 'Виды сложных предложений,<br/>союзы и союзные слова.', '45 минут')
			.col-md-6.col-lg-4: +item('sLessons-img-12.jpg', 'Практикум по письму<br/>и чтению', 'Практические задания по письму,<br/>чтению и аудированию.', '45 минут')
		+sConditionals()
		+sReview()

	+footer()