mixin sDirectory(data)
	// start sDirectory
	+b.SECTION.sDirectory.section#sDirectory&attributes(attributes)
		.container
			+b.section-title
				p «Русско-китайский учебный словарь для музыкантов» является составной частью учебного пособия «Готовимся читать учебники и слушать лекции по истории музыки» (авторы Н. Н. Самохина, Е. И. Тарасенкова. М.: Макс Пресс, 2020). Он адресован студентам с языковой подготовкой уровней А1 — В1. Словарь предназначен прежде всего для китайских студентов-музыкантов, которые обучаются по данному пособию, но может быть полезен китайским учащимся других музыкальных учебных заведений при изучении дисциплин музыкального профиля.
				p Словарь содержит около 700 слов и словосочетаний, наиболее употребительных в различных сферах музыкального искусства.<br/>Включает общеупотребительную, общенаучную и терминологическую лексику. 
				p Предлагаемый словарь является также учебным пособием. Все заглавные слова снабжены знаками ударения, что помогает их правильному чтению. Словарь имеет грамматические и лексические пометы (род имён существительных, вид глагола, глагольное управление, сложные формы множественного числа и др.). Несовершенный и совершенный виды глагола представлены как формы одного слова. В словаре уделено внимание тому, как данное слово сочетается с другими. При глаголах указываются вопросы, падежи и предлоги. 
			+e.wrap
				h3 Список сокращений
				+e.row.row
					+e.col.col-md-auto
						h5 Существительное
						ul
							li падежи:
							li 1 п. — именительный
							li 2 п. — родительный 
							li 3 п. — дательный
							li 4 п. — винительный
							li 5 п. — творительный
							li 6 п. — предложный
							li нескл. — несклоняемое
						ul
							li род:
							li м. — мужской
							li ж. — женский
							li с. — средний
						ul
							li число:
							li ед. — единственное
							li мн. — множественное
					+e.col.col-md-auto
						h5 Прилагательное
						p сравн. ст. — сравнительная степень
					+e.col.col-md-auto
						h5 Глагол
						p нсв — несовершенный вид
						p св — совершенный вид
			+e.wrap
				h3 Русский алфавит
				+e.alphabet
					.row
						+e.alphabet-col.col-auto: a(href="#")  А а
						+e.alphabet-col.col-auto: a(href="#")  Б б
						+e.alphabet-col.col-auto: a(href="#")  В в
						+e.alphabet-col.col-auto: a(href="#")  Г г
						+e.alphabet-col.col-auto: a(href="#")  Д д
						+e.alphabet-col.col-auto: a(href="#")  Е е
						+e.alphabet-col.col-auto: a(href="#")  Ё ё
						+e.alphabet-col.col-auto: a(href="#")  Ж ж
						+e.alphabet-col.col-auto: a(href="#")  З з
						+e.alphabet-col.col-auto: a(href="#")  И и
						+e.alphabet-col.col-auto: a(href="#")  Й й
						+e.alphabet-col.col-auto: a(href="#")  К к
						+e.alphabet-col.col-auto: a(href="#")  Л л
						+e.alphabet-col.col-auto: a(href="#")  М м
						+e.alphabet-col.col-auto: a(href="#")  Н н
						+e.alphabet-col.col-auto: a(href="#")  О о
						+e.alphabet-col.col-auto: a(href="#")  П п
						+e.alphabet-col.col-auto: a(href="#")  Р р
						+e.alphabet-col.col-auto: a(href="#")  С с
						+e.alphabet-col.col-auto: a(href="#")  Т т
						+e.alphabet-col.col-auto: a(href="#")  У у
						+e.alphabet-col.col-auto: a(href="#")  Ф ф
						+e.alphabet-col.col-auto: a(href="#")  Х х
						+e.alphabet-col.col-auto: a(href="#")  Ц ц
						+e.alphabet-col.col-auto: a(href="#")  Ч ч
						+e.alphabet-col.col-auto: a(href="#")  Ш ш
						+e.alphabet-col.col-auto: a(href="#")  Щ щ
						+e.alphabet-col.col-auto: a(href="#")  Ъ ъ
						+e.alphabet-col.col-auto: a(href="#")  Ы ы
						+e.alphabet-col.col-auto: a(href="#")  Ь ь
						+e.alphabet-col.col-auto: a(href="#")  Э э
						+e.alphabet-col.col-auto: a(href="#")  Ю ю
						+e.alphabet-col.col-auto: a(href="#")  Я я
			+e.item.row
				.col
					+e.img-wrap
						.img-wrap-center
							+img('img/sDirectory-img-1.jpg', 'bg')
				.col
					.content
						h3 Список сокращений
						p После завершения этого урока вы получите фундаментальные знания о музыкальном языке, которые помогут вам лучше понимать и создавать гармоничные музыкальные произведения. Независимо от того, являетесь ли вы музыкантом, композитором или просто любителем музыки, этот урок откроет для вас новые горизонты в мире звуков и гармонии.
			+e.item.row
				.col
					+e.img-wrap
						.img-wrap-center
							+img('img/sDirectory-img-2.jpg', 'bg')
				.col
					.content
						h3 Русский алфавит
						p После завершения этого урока вы получите фундаментальные знания о музыкальном языке, которые помогут вам лучше понимать и создавать гармоничные музыкальные произведения. Независимо от того, являетесь ли вы музыкантом, композитором или просто любителем музыки, этот урок откроет для вас новые горизонты в мире звуков и гармонии.
	// end sDirectory