.menu {
	@include media-breakpoint-up(lg) {
		display: flex;
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
	}
	@include media-breakpoint-up(xxl) {
		--bs-gutter-x: 51.1px;
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
		&.current-menu-item {
			a {
				font-weight: 700;
				color: $accent;
			}
		}
	}
	a {
		display: block;
		padding: 0 calc(var(--bs-gutter-x) / 2);
		text-transform: uppercase;
		color: $body-color;
		&:hover {
			font-weight: 700;
			color: $accent;
		}
	}
}

.toggle-menu-mobile {
	--h: #{rem(1)};
	--color: #{$gray-900};
	--position: calc(var(--h) * 9);
	&.on span {
		--color: transparent;
	}

	&.on {
		--position: 0;
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h) * 20);
	position: relative;
	font-size: 47px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}
}
@include media-breakpoint-down(lg) {
	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		// max-width: 100%;
		// height: calc(var(--vh, 1vh) * 100);
		// height: 100vh;
		width: 100%;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active) {
			transform: translate3d(120%, 0, 0);
			--opacity: 0;
			.toggle-menu-mobile {
				opacity: 0;
			}
		}
		@include mt(0.6s);
		will-change: transform;

		.toggle-menu-mobile {
			font-size: rem(20);

			position: absolute;
			right: rem(27);
			color: #fff;
			top: rem(27);
			z-index: 9999;
			span:after,
			span:before {
				--color: #{$gray-900};
			}
		}
		&__inner {
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(41)}) 0
				calc(env(safe-area-inset-bottom, 0px) + #{rem(41)});
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100vh;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
		}

		&.active {
			.toggle-menu-mobile {
				opacity: 1;
			}
		}

		ul {
			text-align: center;
			position: relative;
			margin-bottom: rem(38);
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.13);
			&:not(:last-child) {
				margin-bottom: rem(35);
			}

			a {
				display: block;
				max-width: max-content;
				margin: 0 auto;
			}
		}
		.top-nav__link {
			padding: rem(18) 0;
			justify-content: center;
			// max-width: max-content;
			// margin: 0 auto;
			border-top: 1px solid $gray-900;
			&:last-of-type {
				border-bottom: 1px solid $gray-900;
			}
		}
	}
}
