mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto: +img('img/logo.png')
				+e.col.col.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							+e.link.d-lg-none(href='#')
								+iconC('user')
								| Личный кабинет
							+e.link--logout.d-lg-none(href='#')
								| Выйти
								+icon('cross')
					
				.col-auto.d-lg-none.ms-auto
					+menu-toggle()
				.col-auto.d-none.d-lg-block
					+e.link(href='#')
						+iconC('user')
						| Личный кабинет
				.col-lg-auto
					+e.btn.btn.btn-accent(href='#') Регистрация
	// end top-nav