.soc {
	@include roww(14px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.item {
	background-color: $gray-200;
	border-radius: rem(20);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&__img-wrap {
		@include block(262, 430);
		margin-bottom: rem(-62);
		border-radius: rem(20);
		overflow: hidden;
	}
	&__content {
		padding: rem(82) rem(27) rem(25) rem(25);
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		h4 {
			line-height: 1;
			margin-bottom: rem(38);
			font-size: rem(20);
			@include media-breakpoint-up(lg) {
				font-size: rem(30);
			}
		}
		p {
			margin-bottom: auto;
			line-height: 1.2;
			font-size: rem(14);
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
			}
		}
		.row {
			align-items: flex-end;
			margin-top: rem(12);
			.col {
				font-size: rem(14);
				@include media-breakpoint-up(lg) {
					font-size: rem(16);
				}
				@include media-breakpoint-up(xl) {
					font-size: rem(20);
				}
			}
		}
	}
	&__btn {
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(30)};
		}
	}
	&.active {
		background-color: $accent;
		color: #fff;
		.item__btn {
			--bs-btn-color: #fff;
			--bs-btn-border-color: #fff;

			--bs-btn-hover-color: #212121;
			--bs-btn-hover-bg: #fff;
			--bs-btn-hover-border-color: #fff;

			--bs-btn-active-color: #212121;
			--bs-btn-active-bg: #fff;
			--bs-btn-active-border-color: #fff;

			--bs-btn-disabled-color: #fff;
			--bs-btn-disabled-bg: transparent;
			--bs-btn-disabled-border-color: #fff;
		}
	}
}

.page-head {
	h1 {
	}
	p {
	}
	&--lg {
		padding-top: rem(12);
		padding-bottom: rem(34.5);
		@include media-breakpoint-up(lg) {
			padding-top: rem(60);
			padding-bottom: rem(87.5);
		}
		h1 {
			margin-bottom: rem(36);
			line-height: 1.21;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(117);
			}
		}
		p {
			margin-bottom: 0;
			font-size: rem(20);
			letter-spacing: -0.02em;
			line-height: 1.21;
			@include media-breakpoint-up(lg) {
				font-size: rem(30);
			}
		}
	}
}
