mixin sLessonBody(data)
	// start sLessonBody
	+b.SECTION.sLessonBody.section#sLessonBody&attributes(attributes)
		.container
			+b.section-title
				h3 Краткое содержание
			ul
				li 
					h6 ФОНЕТИКА
					p Алфавит, гласные А, О, У, Э, Ы, И и согласные Л, М, Н, Б, П, Ф, Т, Д
				li
					h6 ИНТОНАЦИЯ
					p Вопрос-ответ
				li
					h6 ГРАММАТИКА
					p Местоимения (я, мы, он, она, они). Конструкция со словом ЭТО.
				li
					h6 ЛЕКСИКА
					p Альт, фагот, тромбон, валторна, дом, Дон, дым, флейта, ноты, туба
				li
					h6 ПИСЬМО
					p Прописи гласных и согласных
	// end sLessonBody